/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://browser/content/browser.xul") {

  /* toolbar */
  #${CHROME_NAME}-button[show-label][cui-areatype="toolbar"] .toolbarbutton-text {
    display: -moz-box !important;
    padding-left: 1px !important;
  }

  /* toolbar */
  #${CHROME_NAME}-button[cui-areatype="toolbar"] {
    list-style-image: url("${PATH_CONTENT}/favicon.ico");
    max-width: 13em;
    -moz-box-orient: horizontal !important; /* OS X */
  }

  /* panel & customization */
  #${CHROME_NAME}-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #${CHROME_NAME}-button {
    list-style-image: url("${PATH_CONTENT}/icon.png");
  }

  /* toolbar */
  #${CHROME_NAME}-button[cui-areatype="toolbar"][tab-status] {
    list-style-image: url("chrome://global/skin/icons/error-16.png");
  }

  /* panel */
  #${CHROME_NAME}-button[cui-areatype="menu-panel"][tab-status] {
    list-style-image: url("chrome://global/skin/icons/Error.png");
  }

}
